<h1>Breweries</h1>
<%= link_to 'Add Brewery', '/breweries/new' %>
<section id="breweries">
<% @breweries.each do |brewery| %>
  <section id="brewery-<%= brewery.id %>">
  <h3><p><%= brewery.name %></p></h3>
  <p><%= brewery.created_at %></p>
	</section>
<% end %>
</section>


